{% extends layout %}

{% block content %}

<div class="bs-docs-section">

    <!-- Forms
    ================================================== -->
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="forms">Dodawanie</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="well">
                    <form class="bs-example form-horizontal" method="post">
                        <fieldset>
                            <legend>Użytkownik</legend>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Imię</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputEmail" name="form[{{ form.name.vars.name }}]">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Nazwisko</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputEmail" name="form[{{ form.surname.vars.name }}]">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Pesel</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputEmail" name="form[{{ form.pesel.vars.name }}]">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Nr dokumentu</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputEmail" name="form[{{ form.documentNo.vars.name }}]">
                                </div>
                            </div>



                            <div class="form-group">
                                <label for="select" class="col-lg-2 control-label">Selects</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="select" name="form[{{ form.status.vars.name }}]">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>

                </form>

            </div>
        </div>
    </div>


{%  endblock %}