{% extends layout %}

{% block content %}

    <div class="bs-docs-section">

        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="tables">Lista użytkowników</h1>
                </div>

                <div class="bs-example">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Operacje</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.surname }}</td>
                                <td>
                                    <a href="{{ app.url_generator.generate('user_read', {id: user.id}) }}">Pokaż</a>
                                    {#<a href="{{ app.url_generator.generate('user_update', {id: user.id}) }}">Edytuj</a>#}
                                    <a href="{{ app.url_generator.generate('user_delete', {id: user.id}) }}">Usuń</a>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div><!-- /example -->
            </div>
        </div>
    </div>

{% endblock %}