{% extends layout %}

{% block content %}

<div class="bs-docs-section">

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="tables">Detale użytkownika</h1>
            </div>

            <div class="bs-example">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Nazwa parametru</th>
                        <th>Wartość</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>Id</td>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <td>Imię</td>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <td>Nazwisko</td>
                        <td>{{ user.surname }}</td>
                    </tr>
                    <tr>
                        <td>Pesel</td>
                        <td>{{ user.pesel }}</td>
                    </tr>
                    <tr>
                        <td>Nr dokumentu</td>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{ user.status }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
